@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* { box-sizing: border-box; }

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center center;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  background: #090e11;
}

.container {
  width: 90%;
  height: 70%;
  border-radius: 10px;
  background: #fff;
}